@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;900&family=Roboto+Flex:opsz,wght@8..144,400;8..144,500&family=Roboto+Slab&family=Titillium+Web:wght@600&display=swap');

.App {
  text-align: center;
}

.Titillium-web{
  font-family: 'Titillium Web', sans-serif;
}

.Roboto-Flex{
  font-family: 'Roboto Flex', sans-serif;
}

.Roboto-Slab{
  font-family: 'Roboto Slab', serif;
}

.inconsolata{
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
}
.font-900{
  font-weight: 900;
}

.l-marg{
  margin-top: 5%;
  margin-left: 14%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
